<ul>
<%templates.each(function(template) {%>
    <li>
      <a
        id="meme"
        href="#new_meme/<%= template.id %>"
        data-id="<%= template.id %>"
      ><%= template.escape('name') %></a>
    </li>
<%});%>
</ul>