<ul id="memes">
<%templates.each(function(template) {%>
    <li id="memes">
      <div class="popover">
      <a id="meme" href="#new_meme/<%= template.id %>"
        data-id="<%= template.id %>">
          <img src="images/templates/thumbs/<%= template.escape('file_name') %>">
        </a>

      </div>
    </li>
<%});%>
</ul>