body {

}

.title {
  text-decoration: none;
  color: #000000;
}
#box {
  width: 900px;
  margin: 0 auto;
  /*background-color: #808080;*/

}

h1 {
  font-family: 'Kite One', sans-serif;
  font-size: 2em;
  font-weight: normal
}

h2 {
  font-family: 'Kite One', sans-serif;
  font-size: 1.75em;
  font-weight: normal
}

#title-box {
  width: 100%;
  /*font-family: 'Kite One', sans-serif;
  font-size: 2em;*/
  margin: 0 auto;
  position: relative;
  text-align: center;
}

#new-meme-box {
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

#memes ul {
  margin-left: 0;
  margin-right: 0;
  float: left;
  list-style: none;
}
#memes li {
  margin-left: 0;
  padding: 3px 5px;
  display: inline;
  list-style: none;
  float: left;
}

#memeInput div {
  float: left;
  width: 80%;
}

#memePicture div {
  float: left;
}

.popover {
  position: relative;
  zoom: 1;
  *display: inline;
}
.popover:hover ul {
  visibility: visible;
  opacity: 1;
  padding: 4px 0 6px;
}
.popover ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  border: 1px solid;
  border-color: #000000;
  border-radius: 5px;
  background-color: #ffffff;
}
.popover ul:before {
  border-bottom: 7px solid #555;
  top: -14px;
}
.popover li:first-child:after {
  border-bottom: 7px solid #fff;
  top: -13px;
}
.popover ul:after {
  border-bottom: 7px solid #EEF3FE;
  top: -12px;
}
.popover li {
  opacity: 1 !important;
  padding: 0 12px;
  font-size: 11px;
  color: #838ca2;
  text-shadow: 0 1px #fff;
}

.popover li a {
  opacity: 1 !important;
  font-family: 'Kite One', sans-serif;
  font-size: 2em;
  display: block;
  position: relative;
  margin: 0 -13px;
  padding: 0 20px 0 12px;
  color: #000000;
  border: 1px solid transparent;
  text-decoration: none;
}
.popover li a:hover {
  font-weight: bold
}
.popover li a:hover:after {
  display: block;
}